@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<h2>About Us</h2>

<p>
    our <strong>Employee Mangement system</strong> is designed to streamline and simplify day-to-day operatins of managing employees within an organization.
<p/>

<p>
    We aim to reduce administrative overhead and increase productivity by offering a centralized platform where all employee-related information is oeganized, accessible and secure.
</p>

<p>
    <strong>Key Features:</strong>
    <ul>
        <li>Employee onboarding and offboarding</li>
        <li>Attendance and Leave-Management</li>
        <li>Payroll Processing</li>
        <li>Performance Monitoring</li>
        <li>Reports and Analytics</li>
    </ul>
</p>

<p>
    Our mission is to empower organization with a modern reliable and scalable employee management system that supports growth and enhances operational efficiency
</p>

<p>
    Thank you for choosing us!!!!
</p>