@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Us";

}

<h2>Contact Us</h2>
<p>You con contact us through Email , Mobile and through form</p>
<p>Email: emsconatct@gmail.com</p>
<p>Mobile : +918887834578</p>
<h3>Form</h3>
<form method = "post" action = "/ContactUs/Submit">
    <div>
        <label>Name:</label>
        <input type="text" name = "Name " required /><br /><br />
    </div> 
    <div>
        <label>Email:</label>
        <input type="email" name="Email " required /><br /><br />
    </div>
    <div>
        <label>Message:</label>
        <textarea name = "message" rows="4" cols="50" required></textarea><br /><br />
    </div>
    <button type="Submit">Submit</button>
</form>
